#app-contact {
    & > .inner {
        position: relative;
        &::before {
            content: "";
            border-top: 1px solid #333;
            left: var(--app-padding, 50px);
            top: 0;
            width: 100%;
            width: calc(100% - 2 * var(--app-padding, 50px));
            position: absolute;
        }
        padding: 200px var(--app-padding, 50px);
        display: flex;
        align-items: center;
        .text {
            flex: 1;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 22px;
            line-height: 1.8;
            .black {
                font-weight: 900;
            }
        }
        #contact-form {
            flex: 1;
        }
    }
}
#contact-form {
    font-size: 1rem;
    h1 {
        margin-bottom: 50px;
    }
    .form-fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 34px;
    }
    .input {
        position: relative;
        border-bottom: 1px solid #333;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: var(--color-primary);
            transition: 0.4s;
        }
        &:focus-within {
            &::after {
                width: 100%;
                transition: 0.4s;
                left: 0;
            }
        }
        &:not(.block) {
            .label {
                text-transform: uppercase;
                font-family: "Segoe UI";
                position: absolute;
                bottom: 12px;
                left: 0;
                color: inherit;
                pointer-events: none;
                transition: 0.2s ease all;
            }
            input {
                padding-top: 12px;
                padding-bottom: 12px;

                &:not(:placeholder-shown) ~ .label {
                    top: -16px;
                    bottom: unset;
                    font-size: 13px;
                }
                &:focus {
                    ~ .label {
                        top: -16px;
                        bottom: unset;
                        font-size: 13px;
                    }
                }
            }
        }
        &.block {
            margin-top: 34px;
            .label {
                text-transform: uppercase;
                font-family: "Segoe UI";
                position: absolute;
                top: 0;
                left: 0;

                color: inherit;
                pointer-events: none;
                transition: 0.2s ease all;
            }
            textarea {
                resize: none;
                padding-top: 12px;
                &:not(:placeholder-shown) ~ .label {
                    top: -16px;

                    font-size: 13px;
                }
                &:focus {
                    ~ .label {
                        top: -16px;

                        font-size: 13px;
                    }
                }
            }
        }
        input,
        textarea {
            width: 100%;
            border: 0;
            background-color: transparent;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            font-weight: 600;
            &:focus {
                outline: 0;
                border: 0;
                box-shadow: 0;
            }
        }
    }
    ._btn.outlined {
        margin-top: 50px;
        padding: 5px 24px;
        color: rgba(178, 179, 182, 0.5);
        transition: 0.3s;
        &:hover {
            color: rgba(178, 179, 182, 1);
        }
        svg {
            transform: rotate(180deg);
        }
    }
}
